.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination li button:hover {
    background-color: #ddd;
}

.pagination li.active button {
    background-color: #007bff;
    color: #fff;
}

.pagination li.disabled button {
    cursor: not-allowed;
    opacity: 0.6;
}

.pagination li.disabled button:hover {
    background-color: #f0f0f0;
}

.pagination li:first-child button,
.pagination li:last-child button {
    background-color: #007bff;
    color: #fff;
}

.pagination li:first-child button:hover,
.pagination li:last-child button:hover {
    background-color: #0056b3;
}
