#Feedback-Header {
  width: 60%;
  display: flex;
  justify-content: left;
}

#Feedback-Header .Header-Item {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  box-shadow: 4px 4px 10px 0px rgba(0, 146, 82, 0.1);
  margin-right: 1%;
  transition: width 0.5s;
}

#Feedback-Header .Header-Item .icon {
  color: rgba(0, 146, 82, 1);
}

#Feedback-Header .Header-Item span {
  display: none;
  margin-left: 10px;
  color: #f1f1f1;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#Feedback-Header .Header-Item:hover,
#Feedback-Header .Header-Item.selected {
  width: 26%;
  height: 20px;
  justify-content: left;
  background-color: rgba(0, 146, 82, 1);
}

#Feedback-Header .Header-Item:hover .icon,
#Feedback-Header .Header-Item.selected .icon {
  color: #ffffff;
}

#Feedback-Header .Header-Item:hover span,
#Feedback-Header .Header-Item.selected span {
  display: inline;
}
