#User {
    position: absolute;
    left: 15%;
    width: 80%;
}

#User table {
    font-family: 'Inter', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

