#Home-Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#Cart {
    display: inline-block;
    background-color: #fff;
    width: 20%;
    padding: 20px;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
}

#Cart .main {
    float: left;
    text-align: left;
}

#Cart .title {
    color: #A0AEC0;
    font-family: 'Inter', serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 18px */
}

#Cart .content {
    color:  #2D3748;
    font-family: 'Inter', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

#Cart .variability {
    margin-left: 10px;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
}

#Cart .increase {
    color: #48BB78;
}

#Cart .reduce {
    color: #E53E3E;
}

#Cart .icon-container {
    line-height: 44px;
    float: right;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #48BB78;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

#Cart .icon-container * {
    color: white;
}
