#Sidebar {
    padding-top: 3%;

    position: fixed;
    top: 20%;
    left: 0;
    z-index: 1000;
    margin-left: 2.6%;
    width: 4.1%;
    height: 68%;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);

    transition: width 0.5s;
}

#Sidebar>* {
    width: 100%;
    padding-left: 20px;
    display: block;
    height: 50px;
    text-align: left;
    line-height: 50px;
}

#Sidebar .selected {
    background-color: #E7FFF0;
    box-shadow: 0px 4px 10px 0px rgba(0, 146, 82, 0.50);
    border-radius: 50px;
}

#Sidebar .selected * {
    line-height: 50px;
    color: #009252;

}


#Sidebar>*:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px rgba(0, 146, 82, 0.50);
    border-radius: 10px;
    background: #E7FFF0;
}

#Sidebar>*:hover * {
    line-height: 50px;
    color: #009252;
}


#Sidebar>*>* {
    line-height: 50px;
    display: inline-block;
    color: rgba(175, 175, 175, 1);
}

#Sidebar>*>*.icon {
    width: 20px;
}

#Sidebar>*>*.name {
    margin-left: 10px
}

#line {
    width: 60%;
    height: 1px;
    background: #AFAFAF;
    margin: 10px auto;
}

#Sidebar #avatar {
    display: block;
    border-radius: 35px;
    padding: 0 10px;
    align-items: center;
    gap: 25px;
}

#Sidebar #avatar img {
    width: 30px;
    margin-top: 10px;
}

#Sidebar #avatar .name{
    line-height: 50px;
    transform: translateY(-10px);
}
