.simple-form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

.info-input label {
    display: block;
    margin-bottom: 10px;
}

.info-input input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.info-input textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.info-input input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}
.info-input textarea:focus {
    outline: none;
    border-color: #007bff;
}


